.App {
  text-align: center;
}
.chakra-ui-dark :host:not([data-theme]),
.chakra-ui-dark :root:not([data-theme]),
.chakra-ui-dark [data-theme]:not([data-theme]),
[data-theme=dark] :host:not([data-theme]),
[data-theme=dark] :root:not([data-theme]),
[data-theme=dark] [data-theme]:not([data-theme]),
:host[data-theme=dark],
:root[data-theme=dark],
[data-theme][data-theme=dark]{
--chakra-colors-chakra-body-bg:#010b1e !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.active {
  border: 1px solid red !important;
}
.App-header {
  background-color: #00b061;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(106, 106, 106, 0.286);
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(96, 96, 96, 0.587);
}
@media (max-width: 480px) {
  .xs {
    font-size: 25px !important;
  }
}

.userImg{
  height: 180px !important;
  border-Radius:6px; 
}
.GoogleButton{
    scale: 0.7;
        height: auto;
        /* width: fit-content !important; */
        margin: 0px !important;
        padding: 10px 10px;
}
.hover:hover{
  background-color: #010b1e !important;
}

body{
  overflow-y: hidden !important;
}
.MultiSelectBox{
  width: 100%;
}

/* @media (max-width:430px) {
  .Children-box{
    display: none;
  }
} */